In [56]:
import face_reco

In [57]:
import pandas as pd
import numpy as np
import cv2

In [58]:
face_reco.r.ping()

True

#### Step 1: Extract Data from Database

In [62]:
name = 'academy:register'
retrive_dict = face_reco.r.hgetall(name)
retrive_series = pd.Series(retrive_dict)
retrive_series = retrive_series.apply(lambda x: np.frombuffer(x, dtype=np.float32))
index = retrive_series.index
index = list(map(lambda x: x.decode(), index))
retrive_series.index = index
retrive_df = retrive_series.to_frame().reset_index()
retrive_df.columns = ['name_role','facial_features']
retrive_df[['Name', 'Role']]= retrive_df['name_role'].apply(lambda x: x.split('@')).apply(pd.Series)
retrive_df

,name_role,facial_features,Name,Role
0,Chris Evans@Student,"[0.72002447, -1.4682528, -0.77743137, -1.45999...",Chris Evans,Student
1,Barack Obama@Teacher,"[0.94846946, -0.5583677, 0.09491567, -1.279613...",Barack Obama,Teacher
2,Angelina Jolie@Student,"[0.4324317, 1.074975, -0.12851736, -1.833421, ...",Angelina Jolie,Student
3,Eren Yeager@Student,"[0.07091031, -1.1894554, -1.0228689, 0.5795339...",Eren Yeager,Student
4,Morgan Freeman@Teacher,"[0.48562637, -0.61965686, -0.4072629, 1.068597...",Morgan Freeman,Teacher
5,Scarlett Johansson@Student,"[0.1912692, -0.48850536, -1.6902622, 0.4422732...",Scarlett Johansson,Student

### step 2: Get Real_time Prediction

In [64]:
cap = cv2.VideoCapture(0)

while True:
    ret, frame = cap.read()
    if ret == False:
        break
    pred_frame = face_reco.face_prediction(frame,retrive_df, 'facial_features',['Name','Role'], thresh=0.5)

    #cv2.imshow('frame',frame)
    cv2.imshow('prediction',pred_frame)

    if cv2.waitKey(1) == 27:
        break
        
cv2.destroyAllWindows()
cap.release()